* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

body {
    background-color: #00D6CA;
}

.comingSoon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px;
    text-align: center;
    height: 100vh;
}

.logo {
    width: 300px;
    height: auto;
    object-fit: contain;
    margin-bottom: 75px;
}

.countdown {
    margin-bottom: 75px;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.number {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.label {
    font-size: 16px;
    font-weight: 300;
    color: white;
    opacity: 0.8;
}

.title {
    color: white;
    margin-bottom: 20px;
    font-size: 24px;
}

.image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    height: auto;
    object-fit: contain;
}

.social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.icon {
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.ig {
    background-image: url(../images/ig.svg);
}



@media screen and (max-width:992px) {
    .logo {
        width: 250px;
        margin-bottom: 30px;
    }

    body {
        height: 100vh;
        overflow: hidden;
    }

    .image {
        width: 300px;
        bottom: -65px;
    }

    .comingSoon {
        padding: 30px 0;
        height: auto;
        justify-content: flex-start;
    }

    .countdown {
        margin-bottom: 50px;
    }

    .counter {
        gap: 10px;
    }

    .title {
        font-size: 20px;
        margin-bottom: 0;
    }

    .number {
        font-size: 20px;
    }

    .label {
        font-size: 16px;
    }

    .icon{
        width:20px;
        height:20px;
    }
}